/*-----------------------------overig-------------------------------------*/
body
{
	font-family: 'Open Sans', sans-serif !important;
	background-size: 100% 100%;
	background-color: #f9f9f9 !important;
	color: #7b868c;
	height: auto;
}
a
{
	color: #5db0c6;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
h1
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
h2
{
	color: #7b868c;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
h3
{
	color: #7b868c;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
}
h4
{
	text-align: left;
	margin-left: 0;
	float: left;
	color: #7b868c;
}
h6
{
	text-align: center;
    color: #333333;
}
input
{
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
footer
{
	min-width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
}
.row
{
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 0;
  	margin-bottom: 0;
	max-width: 1260px;
	height: auto;
}

/*-----------------------------top bar-------------------------------------*/
.nav-wrapper, .top-bar, .top-bar-section *, .dashboard_wrap, .contain-to-grid, nav *, .top-bar-section ul, .right ul
{
	background-color: white !important;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 700 !important;
	font-size: 14px !important;
	font-style: inherit;
	color: #7b868c;
}
.top-bar-section ul li > a 
{
    background: transparent !important;
    color: white;
}
.top-bar a
{
	background-color: #ffffff !important;
	color: #7b868c !important;
}
.top-bar-section ul li > a.button:hover {
    background: #333333 !important; 
}
.top-bar-section li a:not(.button):hover { 
    background: #5db0c6 !important;
    color: white !important;
}
.top-bar-section ul li.active > a 
{
    background: #5db0c6 !important;
    color: white !important; 
    background-color: #5db0c6 !important;
}
.top-bar-section ul li.active > a:hover 
{
    background: #5db0c6 !important; 
}
#profile_img
{
	border-radius: 20px;
	width: 35px;
	height: 35px;
	margin-top: 0px;
	margin-bottom: 2px;
	margin-left: 10px;
	margin-right: 10px;
}
.nav_icon
{
	margin-right: 10px;
	background-color: transparent !important;
	background: transparent !important;
}
a.menu-icon span {
-webkit-box-shadow: 0 10px 0 1px #7b868c, 0 16px 0 1px #7b868c, 0 22px 0 1px #7b868c;
box-shadow: 0px 10px 0px 1px #7b868c, 0px 16px 0px 1px #7b868c, 0px 22px 0px 1px #7b868c;
}
.top-bar-section .has-dropdown > a:after {
    border-style: none;
}

/*-----------------------------sign up-------------------------------------*/
.row_center
{
	text-align: center;
	height: auto;
	padding-bottom: 0;
	margin-bottom: 0;
}
#signup_form
{
	background-color: #ffffff;
	margin-top: 15%;
	margin-left: 25%;
	border-radius: 3px;
	border: 1px solid #cecdcd;
	text-align: center;
}
#signupbutton
{
	width: 100%;
	text-align: center;
	background-color: #5db0c6;
	border-radius: 3px;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
.options
{
	/*background-color: red;*/
	border: 1px solid #cecdcd;
	height: auto;
	min-width: 50%;
	vertical-align: middle;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 3%;
}
#geheim_wachtwoord
{
	display: none;
}
.signup_options
{
	color: #dfdfdf;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
.sign_up_image
{
	padding-bottom: 10px;
}
.feedback
{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
#feedback_signup
{
  margin-top: 0;
  padding: 0;
  text-align: center;
  display: none;
  margin-left: 3.5%;
  margin-right: 3.5%;
}
.feedback_message
{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.alert-box.alert
{
  background-color: #f0594e;
  border-color: #bd4239;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

/*-----------------------------log in-------------------------------------*/
#login_form
{
	background-color: #ffffff;
	margin-top: 15%;
	margin-left: 25%;
	border-radius: 3px;
	border: 1px solid #cecdcd;
	text-align: center;
}
#loginbutton
{
	width: 100%;
	text-align: center;
	background-color: #5db0c6;
	border-radius: 3px;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
#feedback_login
{
  margin-top: 0;
  padding: 0;
  text-align: center;
  display: none;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

/*-----------------------------dashboard mantelzorgers-------------------------------------*/
.dashboard_container
{
	height: auto !important;
	/*background-color: red;*/
	padding-right: 5px;
	padding-left: 5px;
}
.ervaring_dash
{
	width: 100%;
	height: auto;
}
.profile_info
{
	margin-left: 0;
}


/*-----------------------------ervaring-------------------------------------*/

.ervaring_panel
{
	/*border-style: none;*/
	border-radius: 3px;
	/*border-bottom: 12px solid #5db0c6;*/
	background-color: #ffffff;
	margin-bottom: 10px;
}
.filter_ervaring_fi
{
	color: #7b868c; 
	border-radius: 3px; 
	padding-top: 5px; 
	padding-bottom: 5px;
}
.btn_add
{
	width: auto; 
	height: auto; 
	margin-right: 5px;
}
.s_pad
{
	padding: 6px;
}

/*-----------------------------ervaring pre-------------------------------------*/

.ervaring_profile_pre, .vraag_profile_pre
{
	border-radius: 20px;
}
.ervaring_title_pre
{
	padding-bottom: 0px; 
	margin-bottom: 5px; 
	color: #7b868c; 
	font-family: 'Open Sans', sans-serif; 
	font-weight: 600;
}
.ervaring_username_pre
{
	padding-bottom: 10px; 
	margin-bottom:0; 
	color: #7b868c;
	font-family: 'Open Sans', sans-serif; 
	font-size: 14px;
}
.ervaring_desc_pre
{
	margin-bottom: 5; 
	color: #a5b1b8; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-style: italic;
}
.ervaring_date_pre
{  
	height: 25px; 
	color: #7b868c; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-weight: 600;
}
.ervaring_likes_pre
{  
	color: #7b868c; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-weight: 600;
}

/*-----------------------------ervaring mantelzorgers-------------------------------------*/

.nieuwe_ervaring
{
	width: 200px;
	height: 35px;
	border-radius: 3px;
	background-color: #5db0c6;
	color: white;
	padding: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
.nieuwe_ervaring_s
{
	width: 100%;
	height: auto;
	border-radius: 3px;
	background-color: #5db0c6;
	color: white;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
.add_icon
{
	padding-bottom: 4px;
	padding-right: 10px;
}
.a_ervaring
{
	font-family: 'Open Sans', sans-serif;
	font-style: inherit;
}
.ervaringen
{

}

/*---------------------------sub nav---------------------------*/

.sub-nav dt.active a, .sub-nav dd.active a,.sub-nav li.active a 
{
	background: #5db0c6;
}
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover 
{
    background: #5db0c6;
}

/*-----------------------------nieuwe ervaring form-------------------------------------*/

#slidingDiv_ervaringform
{
    height: auto;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.show_hide_ervaring_form
{
    display:none;
}
#description
{
  resize: vertical;
}
.ervaring_form_panel
{
	border-radius: 3px;
	background-color: #ffffff;
	padding: 10px;
}
#ervaring_title, #ervaring_description
{
	margin-bottom: 0;
}
#btnSubmitErvaring
{
	height: 47px;
    width: 100%;
    border-radius: 3px;
    background-color: #5db0c6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: inherit;
    font-weight: 600;
    padding: 5px;
}
.ervaring_form
{
	border-radius: 3px; 
	background-color: #ffffff; 
	padding: 10px;
	margin-bottom: 20px; 
	border: 1px solid #d8d8d8;
}
#ervaring_description
{
	resize: vertical; 
	height: 100px; 
	border-radius: 3px;
}

/*-----------------------------nieuwe categorie form-------------------------------------*/

#slidingDiv_categorieform
{
    height: auto;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.show_hide_categorie_form
{
    display:none;
}
#categorie_title
{
	margin-bottom: 0;
}
#btnSubmitCategorie
{
	height: 38px;
    width: 100%;
    border-radius: 3px;
    background-color: #5db0c6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: inherit;
    font-weight: 600;
    padding: 5px;
}
.categorie_form
{
	border-radius: 3px; 
	background-color: #ffffff; 
	padding: 10px; 
	margin-bottom: 10px; 
	border: 1px 
	solid #d8d8d8;
}
.color_label
{
	border-radius: 3px;
    height: 35px;
    width: auto;
    background-color: #5db0c6;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: inherit;
    font-weight: 600;
}

/*-----------------------------nieuwe tags form-------------------------------------*/

#slidingDiv_tagsform
{
    height: auto;
}
.show_hide_tags_form
{
    display:none;
}
#btnSubmitNewTags
{
	width: 100%; 
	height: 37px; 
	border-radius: 3px; 
	background-color: #5db0c6; 
	color: white; 
	padding: 2px; 
	font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
    font-style: inherit; 
    font-weight: 600;
}
#btnSubmitNewTagsSmall
{
	width: 100%; 
	height: 37px; 
	border-radius: 3px; 
	background-color: #5db0c6; 
	color: white; 
	padding: 2px; 
	font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
    font-style: inherit; 
    font-weight: 600;
}

/*---------------------------display characters left---------------------------*/

.chars_left
{
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.chars_left li
{
  display: inline-block;
  color: #bcbcbc;
  font-style: italic;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 25px;
}
.icon_ervaring
{
	padding-right: 10px;
}
#btnErvaring
{
	height: 35px;
	border-radius: 3px;
	background-color: #5db0c6;
	color: white;
	margin-bottom: 10px;
	padding: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}

/*---------------------------overzicht reacties---------------------------*/

.reactie
{
	padding: 10px; 
	background-color: #ffffff; 
	border-radius: 3px; 
	border: 1px solid #d8d8d8; 
	margin-bottom: 10px;
}
.w_h_auto
{
	width: auto; 
	height: auto;
}
.n_pad_left
{
	padding-left: 0px;
}
.reactie_desc
{
	margin-bottom: 5; 
    color: #a5b1b8; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px; 
    font-style: italic;
}
.btnSubmitReactie_vt
{
	height: auto;
    width: auto;
    border-radius: 3px;
    background-color: #e6e6e6;
    color: #7b868c;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: inherit;
    padding: 6px;
}
#profile_reactie_ervcomment
{
	border-radius: 20px; 
	margin-top: 5px;
	width: 40px; 
	height: 40px; 
	margin-left: 40%;
}

/*--------------------------- feedback ---------------------------*/

.feedback
{
  	text-align: center;
}
#feedback
{
	margin-top: 0; 
	padding: 0; 
	text-align: center; 
	display: none;
}
#feedback_message
{
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-style: inherit; 
	font-weight: 600;
	margin-bottom: 0px;
}
.conf
{
  	text-align: center;
}
#conf
{
	margin-top: 0; 
	padding: 0; 
	height: auto; 
	text-align: center; 
	display: none;
}
#conf_message
{
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-style: inherit; 
	font-weight: 600;
	margin-bottom: 0px;
}
.alert-box.alert
{
  background-color: #f0594e;
  border-color: #bd4239;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.alert-box.success
{
  background-color: #43b39d;
  border-color: #3a9d8a;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

#profile_img_comment
{
	border-radius: 20px; 
	margin-top: 5px;
	margin-left: 40%;
}

/*--------------------------- pagination ervaringen ---------------------------*/

#ervaring_profile_img
{
	width: 12%; 
	padding-bottom: 0; 
	padding-right: 0;
}
#ervaring_in
{
	width:88%; 
	padding-left: 10; 
	padding-bottom: 0;
}
#ervaring_titel
{
	padding-bottom: 0px; 
	margin-bottom: 5px; 
	color: #7b868c; 
	font-family: "Open Sans", sans-serif; 
	font-weight: 600;
}
#ervaring_user
{
	padding-bottom: 10px; 
	margin-bottom:0; 
	color: #7b868c; 
	font-family: "Open Sans", sans-serif; 
	font-size: 14px;
}
#ervaring_inf
{
	margin-bottom: 5; 
	color: #a5b1b8; 
	font-family: "Open Sans", sans-serif; 
	font-size: 16px; 
	font-style: italic;
}
#ervaring_left
{
	padding-bottom: 0; 
	width: 100px; 
	height: 25px; 
	color: #7b868c; 
	font-family: "Open Sans", sans-serif; 
	font-size: 16px; 
	font-weight: 600;
}
#ervaring_right
{
	padding-bottom:0; 
	width: auto; 
	color: #7b868c; 
	font-family: "Open Sans", sans-serif; 
	font-size: 16px; 
	font-weight: 600;
}

/*--------------------------- filter ---------------------------*/

.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a 
{
    border-radius: 3px;
    border-radius: 3px;
    font-weight: normal;
    background: #5db0c6;
    padding: 0.1875rem 1rem;
    cursor: default;
    color: #ffffff; 
}

/*--------------------------- algemene info ---------------------------*/

.nieuwe_informatieblok
{
	width: 240px;
	height: 35px;
	border-radius: 3px;
	background-color: #5db0c6;
	color: white;
	padding: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
	margin-right: 5px;
}
.nieuwe_informatieblok_s
{
	width: 100%;
	height: auto;
	border-radius: 3px;
	background-color: #5db0c6;
	color: white;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
.informatieblok_title
{
	padding-bottom: 0px; 
	margin-bottom: 5px; 
	color: #7b868c; 
	font-family: 'Open Sans', sans-serif; 
	font-weight: 600;
}
.informatieblok_desc
{
	margin-bottom: 5; 
	color: #a5b1b8; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-style: italic;
}

/*-----------------------------nieuwe categorie form-------------------------------------*/

#slidingDiv_informatieform
{
    height: auto;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.show_hide_informatie_form
{
    display:none;
}
#informatieblok_title, #informatieblok_description
{
	margin-bottom: 0px;
}

/*-----------------------------icon sizes and styles-------------------------------------*/

.style_1
{ 
  	color: #7b868c; 
}
#search_icon
{
	margin-right: 10px;
	background-color: transparent !important;
	background: transparent !important;
}
.size-12 
{ 
	font-size: 12px; 
}
.size-14 
{ 
	font-size: 14px; 
}
.size-16 
{ 
	font-size: 16px; 
}
.size-18 
{ 
	font-size: 18px; 
}
.size-21 
{ 
	font-size: 21px; 
}
.size-24 
{ 
	font-size: 24px; 
}
.size-36 
{ 
	font-size: 36px; 
}
.size-48 
{ 
	font-size: 48px; 
}
.size-60 
{ 
	font-size: 60px; 
}
.size-72 
{ 
	font-size: 72px; 
}

/*-----------------------------ervaring details-------------------------------------*/

.profile_img_details
{
	border-radius: 20px;
	width: 40px;
	height: 40px;
}
.profile_img_details_small
{
	border-radius: 30px;
}
.details_tags_small
{
	width: 100%; 
	text-align: center;
}
.tag_panel_small
{
	margin-top: 5px; 
	margin-bottom: 5px; 
	margin-left: 5px; 
	margin-right: 5px; 
	border-radius: 3px; 
	background-color: #5db0c6; 
	padding: 5px; 
	border: none;
}
.ervaring_detail_panel
{
	background-color: #ffffff; 
	border-radius: 3px; 
	border: 1px solid #d8d8d8;
}
.vote_ervaring_med
{
	width: 20px; 
	margin: 0px; 
	margin-left: 6px; 
	margin-top: 15px;
}
.ervaring_details_title
{
	padding-bottom: 0px; 
	margin-bottom: 5px;
	color: #7b868c;  
	font-family: 'Open Sans', sans-serif; 
	font-weight: 600;
}
.ervaring_details_username
{
	padding-bottom: 10px; 
	margin-bottom:0; 
	color: #7b868c; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 14px;
}
.ervaring_details_desc
{
	margin-bottom: 10px; 
	color: #a5b1b8; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-style: italic;
}
.ervaring_details_small
{
	background-color: #ffffff; 
	border-radius: 3px; 
	border: 1px solid #d8d8d8; 
	padding: 20px;
	margin-bottom: 20px;
}
.profile_img_name
{
	width: 100%; 
	padding-bottom: 0px; 
	padding-right: 0px;
}
.profile_name
{
	padding-top: 10px; 
	padding-bottom: 10px; 
	margin-bottom:0; 
	color: #7b868c; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 14px;
}
.n_marg_lr
{
	margin-left: 0px; 
	margin-right: 0px;
}

/*-----------------------------reacties-------------------------------------*/

.reactie_profile_img
{
	border-radius: 20px;
	width: 40px;
	height: 40px;
}
.btnSubmitReactie_vt
{
	height: auto;
    width: auto;
    border-radius: 3px;
    background-color: #e6e6e6;
    color: #7b868c;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: inherit;
    padding: 6px;
}
#btnSubmitReactie
{
	height: 50px;
    width: 100%;
    border-radius: 3px;
    background-color: #5db0c6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: inherit;
    font-weight: 600;
    padding: 5px;
}

/*-----------------------------algemene info-------------------------------------*/

.informatieblok_form
{
	border-radius: 3px; 
	background-color: #ffffff; 
	padding: 10px; 
	margin-bottom: 10px; 
	border: 1px solid #d8d8d8;
}
#informatie_form
{
	padding: 10px;
}
#btnSubmitInformatie
{
	height: 100px;
    width: 100%;
    border-radius: 3px;
    background-color: #5db0c6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: inherit;
    font-weight: 600;
    padding: 5px;
}

/*-----------------------------algemene info details-------------------------------------*/

#info_ov
{
	border-radius: 3px; 
	background-color: #ffffff; 
	padding: 30px; 
	margin-bottom: 10px; 
	border: 1px solid #d8d8d8; 
	height: auto;
}
#info_title
{
	margin-bottom: 10px; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 18px; 
	font-style: inherit; 
	font-weight: 600;
}
#info_description
{
	margin-bottom: 0px;
}
#info_update
{
	border-radius: 3px; 
	background-color: #ffffff; 
	padding: 30px; 
	margin-bottom: 10px; 
	border: 1px solid #d8d8d8; 
	height: auto;
}
#ed_info_form
{
	border-radius: 3px; 
	background-color: #ffffff; 
	padding: 30px; 
	margin-bottom: 10px; 
	border: 1px solid #d8d8d8; 
	height: auto;
}
#informatieblok_title
{
	margin-bottom: 10px; 
	border-radius: 3px;
}
#informatieblok_description
{
	margin-bottom: 10px; 
	border-radius: 3px;
}
#informatieblok_id
{
	margin-bottom: 10px; 
	border-radius: 3px;
}
#btnSubmitEditInformatie
{
	height: 40px;
    width: 100%;
    border-radius: 3px;
    background-color: #5db0c6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: inherit;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 0px;
}

/*-----------------------------ervaring details vote-------------------------------------*/

.btnSubmitErvaring_vt_up, .btnSubmitErvaring_vt_down
{
	border-radius: 3px; 
	background-color: #e6e6e6; 
	padding: 7px; 
	padding-top: 5px;
	padding-bottom: 5px;  
	margin-bottom: 0px;
    color: #7b868c;
}
#vt_ervaring
{
	padding: 6px; 
	margin-bottom: 0px; 
	width: 28px;
}

/*-----------------------------vraag details vote-------------------------------------*/

.btnSubmitVraag_vt_up, .btnSubmitVraag_vt_down
{
	border-radius: 3px; 
	background-color: #e6e6e6; 
	padding: 7px; 
	padding-top: 5px;
	padding-bottom: 5px;  
	margin-bottom: 0px;
    color: #7b868c;
}
#vt_ervaring
{
	padding: 6px; 
	margin-bottom: 0px; 
	width: 28px;
}

/*-----------------------------profile details-------------------------------------*/

.profile_details_img
{
	border-radius: 20px;
	width: 40px;
	height: 40px;
}
.profile_reactie_panel
{
	padding: 20px; 
	border-radius: 3px; 
	background-color: #ffffff; 
	border: solid 1px #d8d8d8; 
	margin-bottom: 10px;
}
.reactie_helpful
{
	margin-left: 5px; 
	margin-right: 5px;
}
.reactie_vt_n
{
	border-radius: 3px; 
	background-color: #fafafa; 
	padding: 3px; 
	padding-top: 0px; 
	padding-bottom: 0px;
}
.profile_details_med_img
{
	width: 100px; 
	height: 100px; 
	border-radius: 100px;
}
#profile_details_username
{
	color: #ffffff; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 28px; 
	font-style: inherit; 
	font-weight: 700; 
	margin-top: 10px; 
}
.btn_edit_profile
{
	color: #ffffff; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 14px; 
	font-style: inherit; 
	font-weight: 600; 
	margin-bottom: 0px;
}
.profile_details_ptn
{
	color: #ffffff; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 28px; 
	font-style: inherit; 
	font-weight: 700; 
	margin-top: 10px; 
	margin-left: 10px; 
	margin-right: 10px;
}
.profile_details_smallinf
{
	color: #ffffff; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 24px; 
	font-style: inherit; 
	font-weight: 600; 
	margin-top: 0px;
}
.profile_details_smallinftext
{
	color: #ffffff; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-style: inherit; 
	font-weight: 600; 
	margin-top: 10px; 
	margin-bottom: 0px;
}
#n_posts
{
	margin-left: 0px;
	padding-right: 20px; 
	border-right: 3px solid #ffffff;
}
#n_reacties
{
	padding-right: 20px; 
	border-right: 3px solid #ffffff;
}
#n_likes
{
	margin-right: 20px;
}
.filter_profile_fi
{
	color: #7b868c; 
	border-radius: 3px; 
	padding-top: 10px; 
	padding-bottom: 10px;
	margin-bottom: 0px;
}

/*-----------------------------edit profile-------------------------------------*/

#profile_description
{
	resize: vertical; 
	height: 60px; 
	border-radius: 3px;
	margin-bottom: 0px;
}
#profile_location
{
	margin-bottom: 0px;
}
#btnSubmitProfile
{
	height: 40px;
    width: 100%;
    border-radius: 3px;
    background-color: #5db0c6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: inherit;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 0px;
}

/*-----------------------------pads en margs-------------------------------------*/

.n_pad
{
	padding: 0px;
}
.n_marg
{
	margin: 0px;
}
.p_t
{
	padding: 10px;
}
.m_t
{
	margin: 10px;
}
.p_tw
{
	padding: 20px;
}
.m_tw
{
	margin: 20px;
}
.p_th
{
	padding: 30px;
}
.m_th
{
	margin: 30px;
}
.p_ft
{
	padding: 40px;
}
.m_ft
{
	margin: 40px;
}
.n_p_btm
{
	padding-bottom: 0px;
}
.n_m_btm
{
	margin-bottom: 0px;
}
.n_p_tp
{
	padding-top: 0px;
}
.n_m_tp
{
	margin-top: 0px;
}
.n_p_l
{
	padding-left: 0px;
}
.n_m_l
{
	margin-left: 0px;
}
.n_p_r
{
	padding-right: 0px;
}
.n_m_r
{
	margin-right: 0px;
}
.p_btm_t
{
	padding-bottom: 10px;
}
.m_btm_t
{
	margin-bottom: 10px;
}
.p_btm_tw
{
	padding-bottom: 20px;
}
.m_btm_tw
{
	margin-bottom: 20px;
}
.m_btm_th
{
	margin-bottom: 30px;
}
.p_tp_t
{
	padding-top: 10px;
}
.m_tp_t
{
	margin-top: 10px;
}
.p_tp_tw
{
	padding-top: 20px;
}
.m_tp_tw
{
	margin-top: 20px;
}
.p_tp_th
{
	padding-top: 30px;
}
.m_tp_th
{
	margin-top: 30px;
}
.p_l_t
{
	padding-left: 10px;
}
.m_l_t
{
	margin-left: 10px;
}
.p_l_tw
{
	padding-left: 20px;
}
.m_l_tw
{
	margin-left: 20px;
}
.p_l_th
{
	padding-left: 30px;
}
.m_l_th
{
	margin-left: 30px;
}
.p_r_t
{
	padding-right: 10px;
}
.m_r_t
{
	margin-right: 10px;
}
.p_r_tw
{
	padding-right: 20px;
}
.m_r_tw
{
	margin-right: 20px;
}
.p_r_th
{
	padding-right: 30px;
}
.m_r_th
{
	margin-right: 30px;
}
.reveal-modal 
{
    max-width: 95%;
}

/*-----------------------------nieuwe vraag form-------------------------------------*/

#btnSubmitVraag
{
	height: 47px;
    width: 100%;
    border-radius: 3px;
    background-color: #5db0c6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: inherit;
    font-weight: 600;
    padding: 5px;
}
#vraag_title, #vraag_description
{
	margin-bottom: 0px;
}
#vraag_description
{
	resize: vertical; 
	height: 100px; 
	border-radius: 3px;
}
#slidingDiv_vraagform
{
    height: auto;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: none;
}
.show_hide_vraag_form
{
    display:none;
}
.user_name_dropdown
{
	background-color: transparent !important;
}

/*-----------------------------nieuw evenement form-------------------------------------*/

.evenement_container
{
	height: auto !important;
	padding-right: 5px;
	padding-left: 5px;
}
#btnSubmitEvenement
{
	height: 47px;
    width: 100%;
    border-radius: 3px;
    background-color: #5db0c6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: inherit;
    font-weight: 600;
    padding: 5px;
}
#slidingDiv_evenementform
{
    height: auto;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#evenement_description
{
	resize: vertical; 
	height: 153px; 
	border-radius: 3px;
}
#evenement_title, #evenement_description
{
	margin-bottom: 0px;
}

/*-----------------------------evenement-------------------------------------*/

.google_map
{
	width: 100%; 
	height: 200px; 
	overflow: hidden; 
	border-top-left-radius: 3px; 
	border-top-right-radius: 3px;
}
.evenement_pre_panel
{
	border-bottom-left-radius: 3px; 
	border-bottom-right-radius: 3px;
}
.evenement_pre_date_panel
{
	background-color: #5db0c6; 
	color: #ffffff; 
	height: auto; 
	border-bottom-left-radius: 3px;
}
.evenement_pre_date_day, .evenement_pre_date_month
{
	color: #ffffff; 
	font-family: 'Open Sans', sans-serif; 
	font-style: inherit; 
	font-weight: 600;
}
.evenement_pre_title_panel
{
	background-color: #ffffff; 
	padding: 10px; 
	height: auto;
}
.evenement_pre_title
{
	color: #7b868c; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 14px; 
	font-style: inherit; 
	font-weight: 400; 
	margin-bottom: 5px; 
	margin-top: 0px;
}
.evenement_pre_adress
{
	font-family: 'Open Sans', sans-serif; 
	font-size: 14px; 
	font-style: inherit; 
	font-weight: 400; 
	margin-bottom: 1px;
}
.evenement_pre_aanwezigen_panel
{
	background-color: #e6e6e6; 
	height: auto; 
	padding: 10px; 
	border-bottom-right-radius: 3px;
}
.evenement_pre_nvisit, .evenement_pre_aanw
{
	font-family: 'Open Sans', sans-serif; 
	font-style: inherit; 
	font-weight: 600;
}

/*-----------------------------evenement details-------------------------------------*/

.evenement_panel
{
	border-radius: 3px;
	background-color: #ffffff;
	margin-bottom: 10px;
	border: none;
}
.deelnemen_btn
{
	width: 190px;
	height: 35px;
	border-radius: 3px;
	background-color: #5db0c6;
	color: white;
	padding: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
.deelnemen_btn_di
{
	width: 190px;
	height: 35px;
	border-radius: 3px;
	background-color: #e6e6e6;
	color: #7b868c;
	padding: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
.deelnemen_btn_small
{
	width: 100%;
	height: auto;
	border-radius: 3px;
	background-color: #5db0c6;
	color: white;
	padding: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
}
.deelnemen_btn_small_di
{
	width: 100%;
	height: auto;
	border-radius: 3px;
	background-color: #e6e6e6;
	color: #7b868c;
	padding: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
}
.btn_add_deelnemen
{
	width: auto; 
	height: auto; 
}
.evenement_icon
{
	padding-bottom: 4px;
	padding-right: 10px;
	padding-top: 2px;
}
#map-canvas
{
	width: 100%;
	height: 400px;
}
.evenement_details_panel
{
	padding: 20px; 
	background-color: #ffffff; 
	border-bottom-left-radius: 3px; 
	border-bottom-right-radius: 3px;
}
.evenement_details_date_panel
{
	background-color: #5db0c6; 
	color: white; 
	height: auto; 
	border-radius: 3px; 
	padding-left: 10px;
}
.evenement_details_day, .evenement_details_month
{ 
	font-family: 'Open Sans', sans-serif; 
	font-style: inherit; 
	font-weight: 600;
	color: #ffffff;
}
.evenement_details_title_panel
{
	padding-left: 20px; 
	margin-bottom: 10px;
}
.evenement_details_title
{
	font-family: 'Open Sans', sans-serif; 
	font-size: 18px; 
	font-style: inherit; 
	font-weight: 500; 
	margin-bottom: 10px;
}
.evenement_details_desc
{
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-style: italic;
	margin-bottom: 0px;
}
.evenement_details_panel_small
{
	padding: 20px; 
	background-color: #ffffff; 
	border-bottom-left-radius: 3px; 
	border-bottom-right-radius: 3px; 
}
.evenement_details_title_smallpanel
{
	background-color: #5db0c6; 
	color: white; 
	height: auto; 
	border-radius: 3px; 
	margin-bottom: 20px;
}
.evenement_details_title_smallday, .evenement_details_title_smallmonth
{
	color: #ffffff; 
	font-family: 'Open Sans', sans-serif; 
	font-style: inherit;
	font-weight: 600;
}
#evenement_details_title_small
{
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-style: inherit; 
	font-size: 18px; 
	font-weight: 600; 
	margin-bottom: 10px;
}
#evenement_details_description_small
{
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-style: italic;
}
#profile_reactie_evcomment
{
	border-radius: 20px; 
	margin-top: 5px;
	width: 40px; 
	height: 40px; 
	margin-left: 40%;
}
#reactie_description
{
	resize: vertical; 
	height: 38px; 
	border-radius: 3px;
}
.ul_reacties_evenementen
{
	text-decoration: none; 
	list-style: none; 
	margin: 0px;
}
.btnSubmitReactie_vt_up
{
	border-radius: 3px; 
	background-color: #e6e6e6; 
	padding: 5px; 
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;  
	margin-bottom: 0px;
    color: #7b868c;
}
.btnSubmitReactie_vt_down
{
	border-radius: 3px; 
	background-color: #e6e6e6; 
	padding: 5px; 
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;  
	margin-bottom: 0px;
    color: #7b868c;
}
.btnSubmitReactie_vt_up:hover 
{
	background-color: #5db0c6;
}
.btnSubmitReactie_vt_down:hover 
{
	background-color: #5db0c6;
}
button:disabled 
{
	background-color: #e6e6e6; 
}
button[disabled]:hover 
{
  background-color: #e6e6e6; 
}	