/*-----------------------------overig-------------------------------------*/
body
{
	font-family: 'Open Sans', sans-serif !important;
	background-size: 100% 100%;
	background-color: #f9f9f9 !important;
	color: #7b868c;
	height: auto;
}
a
{
	color: #5db0c6;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
h1
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
h2
{
	color: #7b868c;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
h3
{
	color: #7b868c;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
}
h4
{
	text-align: left;
	margin-left: 0;
	float: left;
}
h6
{
	text-align: center;
    color: #333333;
}
input
{
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
footer
{
	min-width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
}
.text-center
{
	margin-bottom: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}

/*-----------------------------top bar-------------------------------------*/

.nav-wrapper, .top-bar, .top-bar-section *, .dashboard_wrap, .contain-to-grid, nav *, .top-bar-section ul, .right ul
{
	background-color: white !important;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 700 !important;
	font-size: 14px !important;
	font-style: inherit;
	color: #7b868c;
}
.top-bar-section ul li > a 
{
    background: transparent !important;
    color: white;
}
.top-bar a
{
	background-color: #ffffff !important;
	color: #7b868c !important;
}
.top-bar-section ul li > a.button:hover {
    background: #333333 !important; 
}
.top-bar-section li a:not(.button):hover { 
    background: #5db0c6 !important;
    color: white !important;
}
.top-bar-section ul li.active > a 
{
    background: #5db0c6 !important;
    color: white !important; 
    background-color: #5db0c6 !important;
}
.top-bar-section ul li.active > a:hover 
{
    background: #5db0c6 !important; 
}
#profile_img
{
	border-radius: 20px;
	width: 40px;
	height: 40px;
	margin-top: 2px;
	margin-left: 10px;
}
.nav_icon
{
	margin-right: 10px;
	background-color: transparent !important;
	background: transparent !important;
}

/*-----------------------------sign up-------------------------------------*/

.row_center
{
	text-align: center;
	height: auto;
	padding-bottom: 0;
	margin-bottom: 0;
}
#signup_form
{
	background-color: #ffffff;
	margin-top: 15%;
	margin-left: 25%;
	border-radius: 3px;
	border: 1px solid #cecdcd;
	text-align: center;
}
#signupbutton
{
	width: 100%;
	text-align: center;
	background-color: #5db0c6;
	border-radius: 3px;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
.options
{
	/*background-color: red;*/
	border: 1px solid #cecdcd;
	height: auto;
	min-width: 50%;
	vertical-align: middle;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 3%;
}
#geheim_wachtwoord
{
	display: none;
}
.signup_options
{
	color: #dfdfdf;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
.sign_up_image
{
	padding-bottom: 10px;
}
.feedback
{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
#feedback_signup
{
  margin-top: 0;
  padding: 0;
  text-align: center;
  display: none;
  margin-left: 3.5%;
  margin-right: 3.5%;
}
.feedback_message
{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.alert-box.alert
{
  background-color: #f0594e;
  border-color: #bd4239;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

/*-----------------------------log in-------------------------------------*/

#login_form_d
{
	background-color: #ffffff;
	border-radius: 3px;
	border: 1px solid #cecdcd;
	text-align: center;

	position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#loginbutton
{
	width: 100%;
	text-align: center;
	background-color: #5db0c6;
	border-radius: 3px;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
#feedback_login
{
  margin-top: 0;
  padding: 0;
  text-align: center;
  display: none;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

/*-----------------------------dashboard mantelzorgers-------------------------------------*/

.dashboard_container
{
	height: auto !important;
	/*background-color: red;*/
	padding-right: 5px;
	padding-left: 5px;
}
.ervaring_dash
{
	width: 100%;
	height: auto;
}
.profile_info
{
	margin-left: 0;
}


/*-----------------------------ervaring-------------------------------------*/

.ervaring_panel
{
	/*border-style: none;*/
	border-radius: 3px;
	border-bottom: 12px solid #5db0c6;
	background-color: #ffffff;
}

/*-----------------------------ervaring mantelzorgers-------------------------------------*/

.nieuwe_ervaring
{
	width: 200px;
	height: 35px;
	border-radius: 3px;
	background-color: #5db0c6;
	color: white;
	margin-bottom: 10px;
	padding: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}
.add_icon
{
	padding-bottom: 4px;
	padding-right: 10px;
}
.ervaringen
{

}

/*---------------------------sub nav---------------------------*/

.sub-nav dt.active a, .sub-nav dd.active a,.sub-nav li.active a 
{
	background: #5db0c6;
}
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover 
{
    background: #5db0c6;
}

/*-----------------------------nieuwe ervaring form-------------------------------------*/

#slidingDiv_ervaringform
{
    height: auto;
}
.show_hide_ervaring_form 
{
    display:none;
}
#description
{
  resize: vertical;
}
.ervaring_form_panel
{
	border-radius: 3px;
	background-color: #ffffff;
	padding: 10px;
}
#ervaring_title, #ervaring_description
{
	margin-bottom: 0;
}

/*---------------------------display characters left---------------------------*/

.chars_left
{
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.chars_left li
{
  display: inline-block;
  color: #bcbcbc;
  font-style: italic;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 25px;
}
.icon_ervaring
{
	padding-right: 10px;
}
#btnErvaring
{
	height: 35px;
	border-radius: 3px;
	background-color: #5db0c6;
	color: white;
	margin-bottom: 10px;
	padding: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: inherit;
	font-weight: 600;
}

/*---------------------------media only---------------------------*/

@media only screen and (max-width: 20em) { 

.signup_options
{
	font-size: 12px;
}

}